#double-click-box {
  position: absolute;
  background: rgba(0, 200, 0, 0.75);
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  z-index: 10000;
  pointer-events: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  max-width: 500px;
}

.definition-box {
  position: absolute;
  max-height: 400px;
  max-width: 150px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
  z-index: 10000;
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  max-width: 500px;
}

.entry-header {
  font-size: 1.2em;
  padding-bottom: 1px;
  border-bottom: 2px solid #ccc;
  margin-bottom: 4px;
}

.entry-header-component {
  padding-right: 10px;
}

.entry-header-word {
  font-weight: bold;
}

.entry-header-functional-label {
  font-style: italic;
}

.entry-header-audio-button {
  cursor: pointer;
}

.word-not-found {
  font-weight: bold;
  padding: 5px;
  border-bottom: 2px solid #ccc;
  margin-bottom: 5px;
}

.fade-out {
  opacity: 0;
  transform: scale(0.9);
}

.verb-divider {
  margin: 5px 0px;
}

.l1-sense-box {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}

.l2-sense-wrapper {
  display: flex;
  flex-direction: column;
}

.l2-sense-box {
  display: flex;
  flex-direction: row;
}

.l3-sense-wrapper {
  display: flex;
  flex-direction: column;
}

.l3-sense-box {
  display: flex;
  flex-direction: row;
}

.sense-number-label {
  font-weight: bold;
  padding-right: 5px;
  border-right: 2px solid black;
  margin-right: 8px;
}

.sense-letter-boxes {
  display: flex;
  flex-direction: column;
}

.sense-letter-def-box {
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
}

.sense-letter-label {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  margin-right: 5px;
}

.sls {
  margin-right: 5px;
  padding: 2px 4px;
  background-color: rgb(235, 235, 235);
  font-weight: bold;
}


.uns {
  margin-left: 5px;
}

.vis {
  /* padding-left: 8px; */
  /* border-left: 2px solid lightgrey; */
}

.vis-text {
  padding-left: 8px;
  margin: 5px 0px;
  border-left: 2px solid lightgrey;
}

.aq {
  padding-left: 10px;
}

.sense-def-box {
  display: flex;
  flex-direction: row;
}

.sense-parentheses-label {
  font-weight: bold;
  margin-right: 5px;
}

.definition-text-box {
  margin: 0;
  padding-left: 0px;
}

.usage-container {
  padding-left: 10px;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.small-caps {
  font-variant: small-caps;
}

.subscript {
  vertical-align: sub;
  font-size: smaller;
}

.superscript {
  vertical-align: super;
  font-size: smaller;
}

.left-quote, .right-quote {
  font-family: serif;
}

.bold-colon {
  font-weight: bold;
  padding-right: 3px;
}

.paragraph-break {
  display: block;
  margin-bottom: 1em;
}

/* Word-Marking Tokens */
.gloss {
  font-style: normal;
  color: grey;
}

.parahw {
  font-variant: small-caps;
  font-weight: bold;
}

.phrase {
  font-style: italic;
  font-weight: bold;
}

.qword {
  font-style: italic;
  text-decoration: underline;
}

.wi {
  font-style: italic;
}

/* Cross-Reference Grouping Tokens */
.dx {
  display: inline-block;
  margin-left: 0.5em;
  font-style: normal;
}

.dx_def {
  font-style: normal;
  color: grey;
}

.dx_ety {
  display: inline-block;
  margin-left: 0.5em;
  font-style: normal;
}

.ma {
  display: inline-block;
  margin-left: 0.5em;
  font-style: normal;
}

/* Cross-Referencing Tokens */
a {
  text-decoration: none;
  color: blue;
}

.a_link {
  font-weight: normal;
  font-style: normal;
}

.d_link {
  font-weight: normal;
  font-style: normal;
}

.i_link {
  font-style: italic;
}

.et_link {
  font-weight: normal;
  font-style: normal;
}

.mat {
  font-weight: normal;
  font-style: normal;
}

.sx {
  font-variant: small-caps;
}

.dxt {
  font-variant: small-caps;
}

a:hover {
  text-decoration: underline;
}

.sx:hover,
.dxt:hover {
  text-decoration: underline;
  cursor: pointer;
}
